.van-filter-btn {
  border-radius: 5px;
  background: #ffead0;
  color: #4d4d4d;
  width: 104px;
  height: 37px;
  padding: 6px 26px 7px 26px;
  flex-shrink: 0;
  border: none;
  margin: 0 15px 0 0;
  text-transform: capitalize;
}
