.host-component {
  width: 100%;
  color: #161616;
  font-family: Inter;
  font-style: normal;
}

.host-component__welcome {
  padding: 37px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 220px;
  border-radius: 5px;
  background: #ffead0;
}

.host-component__welcome-price {
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
}

.host-component__welcome-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
}

.host-component__welcome-price {
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
}

.host-component__review-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 45px 26px;
  border-radius: 5px;
  background: #ffddb2;
  min-height: 113px;
}

.block-header {
  display: inline-block;
  margin: 0 12px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}

.header-space-score {
  margin: 0 0 0 5px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.review-score-block-grey {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.host-component__listed-vans {
  padding: 38px 26px;
}

.host-component__listed-vans-header {
  color: #161616;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
