* {
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
}

/* HOME */
/* ================================================================= */

.home-component {
  padding: 100px 40px 300px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  background-image: url('../images/home_background_img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #252525;
  color: white;
}

.home_header {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}

.home_text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.home_btn {
  width: 100%;
  height: 50px;
  margin: 100px 0 0 0;
  border-radius: 5px;

  color: white;
  background-color: #ff8c38;
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

/* ABOUT */
/* ================================================================= */

.about__img {
  width: 100%;
  height: 333px;
  background-image: url('src/images/about_background-header_img.png');
  background-size: cover;
  background-repeat: no-repeat;

  top: 0;
}

.about-component {
  height: calc(100vh - 111px - 333px - 75px);
  padding: 60px 40px 0;
  background-color: #fff7ed;
  color: #161616;
  font-family: Inter;
}

.about__information {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about__information-header {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.about__information-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about__information-card {
  width: 100%;
  min-height: 198px;
  padding: 20px 40px;
  margin: 50px 0 0 0;

  background-color: #ffcc8d;
  border-radius: 5px;
}

.card-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.card-btn {
  margin: 20px 0;
  height: 50px;
  width: 174px;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  color: white;
  background-color: #161616;

  border: none;
}

/* VANS */
/* ================================================================= */
.vans-component {
  height: 100%;
  margin: 0 0 50px 0;
}

.vans-component__filter {
  margin: 10px 0 0 20px;
}

.van-filter-btn {
  border-radius: 5px;
  background: #ffead0;
  color: #4d4d4d;
  width: 104px;
  height: 37px;
  padding: 6px 26px 7px 26px;
  flex-shrink: 0;
  border: none;
  margin: 0 15px 0 0;
  text-transform: capitalize;
}

.van-filter-btn-clear {
  border: none;
  background: none;
  font-family: Inter;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}

.vans-component-items {
  background-color: red;
}

/* HOST__DASHBOARD */
/* ================================================================= */
.host-component {
  width: 100%;
  color: #161616;
  font-family: Inter;
  font-style: normal;
}

/*  */
.btn-details {
  background: none;
  border: none;
  text-align: right;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}
/*  */

.host-component__welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 37px 26px;
  min-height: 220px;
  border-radius: 5px;
  background: #ffead0;
}
.host-component__welcome-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
}
.gray-text {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.gray-text-underline {
  text-decoration: underline;
  font-weight: 700;
}
.host-component__welcome-price {
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
}
/* === */
.host-component__review-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 45px 26px;
  border-radius: 5px;
  background: #ffddb2;
  min-height: 113px;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}

.block-header {
  margin: 0 12px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}
.star {
  margin: 0 12px;
}

.review-score-block-grey {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

/* === */
.host-component__listed-vans {
  padding: 38px 26px;
}
.host-component__listed-vans-header {
  color: #161616;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.host-component__listed-vans_vans {
}
/* INCOME */
/* === */

.host-component-income {
  padding: 0 27px 0 27px;
}

.img {
  width: 100%;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.host-component__small-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 15px;
}

.block-header {
  margin: 0;
}

.host-component__transactions {
  width: 100%;
  margin: 10px 0 60px 0;
}

.host-component__transactions-order {
  background: white;
  height: 102px;
  margin: 0 0 25px;
  padding: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
}

.price {
  color: #161616;
  font-size: 36px;
  line-height: 32px;
  font-weight: 700;
}

.date {
  color: #4d4d4d;
  font-size: 20px;
  line-height: 32px;
}

/* ==== */
/* HOST - VANS */
/* HostOrderDetailSmall */

.host-component-vans {
  padding: 0 37px;
}

.host-component-vans-details {
}

.host-component-van {
  background: white;
  min-width: 494px;
  height: 102px;
  margin: 19px 0;
  padding: 10px 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.host-component-van__order-img {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.host-component-van__order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-name {
  margin: 0;
  color: #161616;
  font-size: 20px;
  line-height: 32px;
}

.order-price {
  margin: 0;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 32px;
}

/* ==== */
