.host-component__transactions-order {
  background: white;
  height: 102px;
  margin: 0 0 25px;
  padding: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
}

.price {
  color: #161616;
  font-size: 36px;
  line-height: 32px;
  font-weight: 700;
}

.date {
  color: #4d4d4d;
  font-size: 20px;
  line-height: 32px;
}

.host-component-vans {
  padding: 0 37px;
}

.host-component-van {
  background: white;
  min-width: 494px;
  height: 102px;
  margin: 19px 0;
  padding: 10px 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.host-component-van__order-img {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.host-component-van__order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-name {
  margin: 0;
  color: #161616;
  font-size: 20px;
  line-height: 32px;
}

.order-price {
  margin: 0;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 32px;
}
