/* 
'review'
'review__user'
'user-name'
'date-comment'
'review__text' */

.review {
  border-bottom: 1px solid #c7c7c7;
  margin: 0 0 40px 0;
  padding: 0 0 30px 0;
}

.review__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-name {
  font-weight: bold;
}

.date-comment {
  color: #8c8c8c;
}

.user-name,
.date-comment {
  margin: 10px 0;
  font-size: 16px;
  line-height: 32px;
}

.review__text {
  margin: 0;
}
