* {
  box-sizing: border-box;
}

/* ================================================================= */
/* dashboard ++ */

.btn-details {
  background: none;
  border: none;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  color: #161616;
}

/* ================================================================= */
/* LastDays */

.gray-text {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.gray-text-underline {
  text-decoration: underline;
  font-weight: 700;
}

/* ================================================================= */
/* Star, EmptyStar */

.star-space {
  margin: 0 4px 0 12px;
}
.star {
  margin: 2px;
}

/* ================================================================= */
/* vans++ */
/* HostOrderDetailSmall */
