* {
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
}

/* VANS */
/* ================================================================= */

.vans-component {
  height: 100%;
  margin: 0 0 50px 0;
}

.vans-component__filter {
  margin: 10px 0 0 20px;
}

.van-filter-btn {
  border-radius: 5px;
  background: #ffead0;
  color: #4d4d4d;
  width: 104px;
  height: 37px;
  padding: 6px 26px 7px 26px;
  flex-shrink: 0;
  border: none;
  margin: 0 15px 0 0;
  text-transform: capitalize;
}

.van-filter-btn-clear {
  border: none;
  background: none;
  font-family: Inter;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}

.vans-component-items {
  background-color: red;
}
